.c-page {
    padding-bottom:5rem;
    &.c-page--about {
        ul {
            margin-left:0;
            padding-left:1rem;
        }
    }

    a { 
        color: $color-pink-dark;
        text-decoration: none;
        border-bottom: 2px solid $accent-color;
        
            &:hover {
                background-color:$accent-color;
                color:$primary-color;
                border-bottom-color: $hover-color;
            }
    
        }
}