.c-drink {
    //height:100vh;
    padding:1rem 0 5rem 0;

    .drink-info {
        padding-left:1rem;
    }

    .drink-instructions {
        max-width:80ch;
    }

    img {
        box-shadow: 0 0 0 .25rem rgba(255,192,203,.25);
        margin-bottom:2rem;
    }

    h2 { color: $hover-color; margin-bottom:1rem; }
    h3 { font-size: 1.5rem; margin-bottom:1rem; }
    p { font-family: Georgia, 'Times New Roman', Times, serif; }

    .ingredient-list {
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-left:0;
        padding-left:1rem;

        li:empty {
            display:none;
        }
    }
}