.c-results {

    margin:5rem 0 3rem 0;

    img {
        object-fit: cover !important;
        height:150px;
    }

    h3 { font-size:1rem;}

    .card {
        border: 1px solid $accent-color;
        box-shadow: 0 0 0 .25rem rgba(255,192,203,0);

        &:hover {
            box-shadow: 0 0 0 .25rem rgba(255,192,203,.25)
        }
    }
}
