$padding-gap: 1rem;

/* COLORS */
$color-black: #222;
$color-pink: #ffc0cb;
$color-pink-dark: #7E1527;
$color-grey: #6c757d;
$color-white: #f2f2f2;


$primary-color: $color-black;
$accent-color: $color-pink;
$hover-color: $color-pink-dark;