$padding-gap: 1rem;

/* COLORS */
$color-black: #222;
$color-pink: #ffc0cb;
$color-pink-dark: hsl(350, 100%, 70%);


$primary-color: $color-black;
$accent-color: $color-pink;
$hover-color: $color-pink-dark;